# Prepare Data for EDA and Models

In [9]:
# Imports
import pandas as pd
import os

In [14]:
def combine_files(path_to_files):
    df = pd.DataFrame()
    file_list = os.listdir('../data/')
    for file in file_list:
        df = pd.concat([df, pd.read_csv(f'../data/{file}')])
    return df

In [15]:
all_states = combine_files('../data/')
all_states.head()

,state,week,depression,anxiety,addiction,counselling,mental_health,stay_at_home,mask_mandate,gatherings_banned,business_closures,travel_restrictions
0,Alaska,2017-12-31,28,46,24,37,0,0,0,0.0,0,0
1,Alaska,2018-01-07,37,45,25,65,37,0,0,0.0,0,0
2,Alaska,2018-01-14,10,46,16,53,30,0,0,0.0,0,0
3,Alaska,2018-01-21,33,41,10,35,14,0,0,0.0,0,0
4,Alaska,2018-01-28,32,24,0,40,0,0,0,0.0,0,0